<nav class="navbar">
  <div class="navbar__logo">
    <a routerLink="/home">
      <img src="assets/images/logo.png" alt="Logo">
    </a>
  </div>
  <div class="navbar__menu">
    <ul>
      <li *ngIf="!userLoginOn">
        <a routerLink="/login" routerLinkActive="active">LOGIN</a>
      </li>
      <li *ngIf="userLoginOn">
        <a routerLink="/login" routerLinkActive="active">LOGOUT</a>
      </li>
      <li *ngIf="userLoginOn">
        <a routerLink="/space-travel" routerLinkActive="active">VIAJAR</a>
      </li>
      <li *ngIf="userLoginOn">
        <a routerLink="/inventory" routerLinkActive="active">INVENTARIO</a> 
      </li>
      <li *ngIf="userLoginOn">
        <a routerLink="/multiplayer" routerLinkActive="active">MULTIJUGADOR</a>
      </li>
    </ul>
  </div>
</nav>
