<div class="menu-principal" [class.menu-abierto]="menuAbierto">
    <!-- Imagen de la hamburguesa que actúa como botón para abrir/cerrar el menú -->
    <div class="imagenHamburguesa" (click)="toggleMenu()">
        <img src="assets/img/menuHamburguesa.png" alt="Icono de menú hamburguesa">
    </div>

    <!-- Solo se muestra este contenido si 'menuAbierto' es true -->
    <ng-container *ngIf="menuAbierto">
        <div class="logo">
            <img src="assets/img/lapiz_menu.png" alt="Logo del juego">
        </div>
        <button class="exit" (click)="logoutAndRedirect()">Salir</button>
    </ng-container>
</div>
