.dialog-container{
    background-color: black;
    border: 5px solid var(--primary);
    box-shadow: 0 0 20px var(--primary);
    width: 99%;
    height: 99%;
}
body{
    font-family: 'Big Shoulders Display';
}
.multiplayer{
    display: block;
    margin: 20px;
    overflow-y: scroll;
    height: 100%;
}
h2{
    margin-left : 20px;
    text-transform: uppercase;
}
.spacecrafts{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--primary);
    margin-bottom: 1px; 
    height: 120px;
    border-bottom: 20px solid var(--primary);
    box-shadow: 0 0 20px var(--primary);
}
.spacecrafts img{
    width: auto;
    height:80%;
    margin: 2px;
}
.info {
    font-family: 'Iceland';
    width: 400px;
    display: flex;
}
.column{
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.integrants{
    font-size: 10px;
}
.integrant{
    font-size: 20px;
    margin: 0;
}
.name{
    min-width: 20%;
    max-width: 20%;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: bolder;
    font-size: 30px;
}

.time{
    margin-left: 20px;
    text-align: center;
    width: 30px;
    font-size: 20px;
}

.divider{
    border-right: 1px solid white;
    height: 100%;
    width: 2px;
    margin: 0 20px;
}
::-webkit-scrollbar {
    width: 20px;
    
}

::-webkit-scrollbar-track {
    background: rgba(212,169,68, 0.6);    
}

::-webkit-scrollbar-thumb {
    background:var(--primary); 
    box-shadow: 0 0 10px var(--primary);

}
