body{
    font-family: 'Big Shoulders Display';
}
.multiplayer{
    display: block;
    margin: 20px;
    overflow-y: scroll;
    height: 900px;
}
h2{
    text-transform: uppercase;
}
.spacecrafts{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--primary);
    margin-bottom: 1px; 
    height: 120px;
    border-bottom: 20px solid var(--primary);
    box-shadow: 0 0 20px var(--primary);
}
.spacecrafts img{
    width: auto;
    height:100%;
    margin: 25px;
}
.info {
    font-family: 'Iceland';
    width: 500px;
    margin-left: 3%;
    display: flex;
}
.column{
    margin: 20px;
    margin-right: 100px;
}
.integrants{
    font-size: 20px;
}
.integrant{
    font-size: 20px;
    margin: 0;
}
.name{
    width: 200px;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: bolder;
    font-size: 30px;
}

.time{
    text-align: center;
    width: 100px;
    font-size: 20px;
}

.divider{
    border-right: 1px solid white;
    height: 100%;
    width: 2px;
    margin: 0 20px;
}
::-webkit-scrollbar {
    width: 20px;
    
}

::-webkit-scrollbar-track {
    background: rgba(212,169,68, 0.6);    
}

::-webkit-scrollbar-thumb {
    background:var(--primary); 
    box-shadow: 0 0 10px var(--primary);

}
