<div class="summary-bar">
    <div class="summary-bar-container">
      <div class="time">
        <img src="assets\img\summaryBar\time.png" alt="">
        <p>Tiempo</p>
      </div>
        <div class="credit">
            <img src="assets\img\summaryBar\credit.png" alt="">
            <p>Créditos</p>
        </div>     
        <div class="inventory">
            <img src="assets\img\summaryBar\inventory.png" alt="">
            <p>Inventario</p>
        </div>    
        <div class="multiplayer">
            <img src="assets\img\summaryBar\multiplayer.png" alt="">
            <p>Multijugador</p>
        </div> 
        <div class="starship">
            <img src="assets\img\summaryBar\starship.png" alt="">
            <p>Info nave</p>
        </div>       
    </div>
</div>

