<div>
  <form (ngSubmit)="saveSpacecraftModel()">
    <input type="text" name="modelName" id="txtModelName" placeholder="Model Name" [(ngModel)]="spacecraftModel.modelName" required>
    <input type="text" name="storage" id="txtStorage" placeholder="Storage" [(ngModel)]="spacecraftModel.storage" required>
    <input type="text" name="maxSpeed" id="txtMaxSpeed" placeholder="maxSpeed" [(ngModel)]="spacecraftModel.maxSpeed" required>
    <button type="submit" >
      <a>Guardar</a>
    </button>
  </form>
</div>