.ui-wrapper {
  display: flex;
}

.left-column {
  flex: 0 0 auto;
  position: relative;
}

.right-column {
  flex: 0 0 auto;
  margin-left: auto;
  position: absolute;
  right: 0;
  z-index: 1;
}

.current-star{
  padding-left: 10px
}

.current-star table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
}

.current-star td {
  padding: 10px;
  border: 1px solid var(--primary);
  font-family: 'Iceland';
  color: var(--white);
  text-align: center;
}

.current-star td:first-child {
 
  text-align: center;
  font-family: 'Iceland';
  color: var(--white);
}
.star-table .seleccion {
  border: none; 
}

.current-star ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Iceland';
  color: var(--white);
}

.current-star li {
  display: inline-block;
  margin: 0 10px;
  font-family: 'Iceland';
}

.current-star a {
  text-decoration: none;
  color: var(--white);
}

.current-star a:hover {
  color: var(--green); 
  cursor: pointer;
}

.stars{
 
  position:fixed;
  right: 1;
 
  width: 25%;
 
  height: 55%;
 
  overflow: auto;
 
  padding-left: 10px;
  margin-bottom: 20px;
  scrollbar-color: var(--primary) rgba(0, 0, 0, 0.1);

}

.stars::-webkit-scrollbar {
 
  width: 10px;
}

.stars::-webkit-scrollbar-thumb {
 
  background-color: var(--primary);
 
  border-radius: 5px;
}

.stars::-moz-scrollbar {
  width: 10px;
}

.stars::-moz-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5px;
}

form {
  font-family: 'Big Shoulders Display';
}

h1 {
  font-weight: 800;
  color: var(--primary);
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin: 12px;
  font-family:'Big Shoulders Display';
}

p {
  font-family: 'Iceland';
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  font-family: 'Big Shoulders Display';
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  width: 250px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  font-family: 'Big Shoulders Display';
  font-weight: bold;
  color: var(--primary);
}

input:focus::placeholder {
  color: transparent;
}

.button {
  text-align: center;
}

.show-planets-button {
  font-family: 'Big Shoulders Display';
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  padding: 38.6px 3px;
  font-size: 20px;
  cursor: pointer;
}

.show-planets-button:hover {
  background-color: var(--primary);
  color: black;
}

button:hover {
  background-color: var(--primary);
  color: black;
  border: 1px solid var(--primary);
}

.alert-alert-danger {
  font-weight: lighter;
  font-size: 20px;
  padding: 0px;
  color: red;
  text-align: center;
}
.star-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.star-name,
.star-coordinates {
  color: var(--white);
  font-family: 'Iceland';
  padding: 10px 20px;
  border-bottom: 1px solid var(--primary);
}

.star-coordinates {
  border-bottom: none;
}

.star-info button {
  width: auto;
  margin-left: auto;
}

.planet-row {
  background-color: var(--primary-light);
  width: 100%;
}

.planet-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary);
  padding: 10px 0;
}

.planet-name {
  color: var(--white);
  font-family: 'Iceland';
  font-size: 20px;
}

.planet-button {
  font-family: 'Big Shoulders Display';
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  max-width: 150px;
  white-space: nowrap;
}

.planet-button:hover {
  background-color: var(--green);
  color: black;
}

.planet-list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.planet-list-inline li {
  display: inline-block;
  margin: 0 10px;
}
