body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.babyYoda {
    position: absolute;
    top: 0;
    height: 100%;
    width: 80%;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 1;
    animation: slideUp 1s forwards;
}


.babyYoda img {
    position: absolute;
    bottom: 0; /* Cambiado desde -100% */
    transform: translateX(-50%);
    width: 35%;
    left: 20%; /* Ajustado desde 10% */
    height: auto;
}



.globoTexto {
    position: absolute;
    z-index: 10; 
    width: 80%; 
    left: 50%; 
    top: 500px; /* Ajustado para moverlo más abajo */
    transform: translateX(-50%); 
    animation: slideInGlobo 1s ease-out forwards; 
}


.globoTexto img {
    width: 50%; 
    height: auto;
}

.textoYoda {
    position: absolute; 
    top: 40%; /* Ajustado para centrarlo verticalmente en el globo */
    left: 25%; 
    transform: translate(-50%, -50%); /* Centrar horizontal y verticalmente */
    width: 40%; 
    text-align: center; 
    color: rgb(0, 0, 0); 
    font-size: 1rem; 
    animation: fadeInTexto 2s ease-in 1s forwards; 
    opacity: 1; 
}


.table-container {
    border-radius: 15px;
    overflow: hidden;
    width: 40%;  /* Ajustable según la necesidad */
    max-width: 500px;  /* Ancho máximo ajustable según necesidad */
    right: 50px;  /* Distancia fija del borde derecho */
    position: absolute;  /* Posicionamiento absoluto necesario para usar 'top' y 'right' */
    overflow-y: auto;  /* Muestra el scrollbar si el contenido es mayor que la altura */
    overflow-x: hidden;
    height: 500px;  /* Altura fija ajustable según necesidades */
    top: 50px;  /* Ajuste la distancia desde la parte superior de la página */
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

/* Personalizar la barra de desplazamiento para navegadores que usen WebKit */
.table-container::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    background-color: #ffffff; /* Color de fondo de la barra */
}

.table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D4A944; /* Color del 'thumb' de la barra de desplazamiento */
    border: 2px solid #D4A944; /* Borde opcional para el thumb */
}

.table-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ccbe9a; /* Color del track de la barra */
}




.styled-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
}

.styled-table td {
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #5e1b1b;
}

.styled-table tbody tr {
    background-image: linear-gradient(to right, #0c0c0c, #0c0c0c 40%, #ffd700 200%);
    color: white; 
    border-bottom: 9px solid #7af705;
}

.botonesAccion {
    position: absolute;
    margin-top: 20px;
    bottom: 30px; /* Cambiado a 'bottom' para que estén abajo */
    right: 50px; /* Ajustado para que estén a la misma distancia del borde derecho que la tabla */
    transform: translateX(0); /* Resetear transformación para que la ubicación sea relativa a la posición original */
    display: flex; /* Permitir el uso de 'justify-content' */
    justify-content: flex-end; /* Alinear los botones al extremo derecho */
}

.botonesAccion button {
    cursor: pointer;
    padding: 10px 40px; /* Ajusta el valor del relleno según lo que prefieras */
    height: 50px;
    min-width: 120px; /* Establecer un ancho mínimo para asegurar que los botones no sean demasiado pequeños */
    font-size: 1rem;
    margin-left: 1px;
    text-align: center;
    border: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: transform 0.1s, box-shadow 0.1s, border-color 0.1s;
    font-weight: bold;
    text-align: center; /* Centrar el texto dentro del botón */
}

.botonesAccion button.comprar {
    color: limegreen;
    border-color: limegreen;
}

.botonesAccion button.comprar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px limegreen, 0 0 20px limegreen, 0 0 30px limegreen;
}

.botonesAccion button.comprar:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px #fff, 0 0 10px #fff;
}


@media (min-width: 768px) {
    .babyYoda {
        width: 40%;
        left: 5%;
        transform: translateX(0);
    }

    .globoTexto {
        width: 40%;
        left: 35%;
        top: 150px; /* Ajustado para moverlo más abajo */
        transform: translateX(-50%);
    }
    .table-container {
        width: 50%; /* Ajusta este porcentaje según el diseño deseado */
        max-width: 500px; /* Ajusta el ancho máximo según necesidad */
        right: 50px; 
    }
}

@media (min-width: 1024px) {
    .babyYoda {
        width: 50%;
        left: 250px;
        transform: translateX(0);
    }

    .table-container {
        width: 50%;
        max-width: 500px;
        right: 50px; 
    }

    .botonesAccion {
        top: 90%;
        width: 50%;
        height: 65px;
        right: 50px;
        transform: translateY(-50%);
    }
}
