<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:fragment="menu">
        <ul>
            <li><a th:href="@{/player/list}">Jugadores</a></li>
            <li><a th:href="@{/star/list}">Estrellas</a></li>
            <li><a th:href="@{/market/list}">Mercados</a></li>
            <li><a th:href="@{/product/list}">Productos</a></li>
            <li><a th:href="@{/planet/list}">Planetas</a></li>
            <li><a th:href="@{/spacecraft/list}">Naves</li>
            <li><a th:href="@{/inventory/list}">Inventarios</a></li>
            <li><a th:href="@{/spacecraft-model/list}">Modelos de naves</a></li>
        </ul>
    </nav>
</body>
</html>