<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Nave Espacial</title>
    <link rel="stylesheet" href="./spacecraft-model.component.css">
</head>
<body>
    <app-background style="pointer-events: none;"></app-background>

    <h1 *ngIf="!userLoginOn">No estás logueado, no puedes acceder a esta funcionalidad.</h1>

    <div *ngIf="userLoginOn" class="user-section">
        <!-- Sección de integrantes de la nave -->
    <div class="nombre nave">
        <h2>Nombre del equipo: {{spaceCraftData?.name}}</h2>
    </div>
        <div *ngIf="planet && playersInSpacecraft.length > 0" class="planet-info">
            
            <h2>Integrantes de la nave:</h2>
            <div class="integrants-list">
                <div *ngFor="let player of playersInSpacecraft" class="integrant">
                    {{ player.userName }}
                </div>
            </div>
        </div>

        <!-- Imagen de la nave -->
        <img src="/assets/img/starshipimgaux.png" class="spacecraft-image">

        <!-- Detalles de la nave -->
        <div class="details-container" *ngIf="spacecraftModelsData">
            <div class="detail-box">
                <strong>Modelo:</strong>
                <p>{{ spacecraftModelsData.modelName }}</p>
            </div>
            <div class="detail-box">
                <strong>Capacidad de carga:</strong>
                <p>{{ spacecraftModelsData.storage }} m³</p>
            </div>
            <div class="detail-box">
                <strong>Velocidad máxima:</strong>
                <p>{{ spacecraftModelsData.maxSpeed }} km/s</p>
            </div>
        </div>
        <!-- Mensaje de error si no se cargan los datos del modelo de la nave -->
        <div *ngIf="!spacecraftModelsData">
            <p>No se han podido cargar los datos de la nave.</p>
        </div>
    </div>
</body>
</html>
