html, body {
    height: 100%; /* Mantiene la altura al tamaño de la ventana del navegador */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    position: relative;
    border: 2.8px solid var(--primary);
    box-shadow: 0 0 20px var(--primary);
    overflow: hidden; /* Evita el desbordamiento en la página principal */
    box-sizing: border-box; /* Incluye el borde en el ancho/altura total */
}

.user-section {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center; 
    justify-content: center;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.nombre.nave {
    z-index: 1000; /* Asegura que esté encima de otros contenidos */
    position: fixed;
    top: 150px;
    left: 150px;
    width: 100%;
    color: #B2B7BA;
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 0; /* Elimina cualquier margen externo que pueda empujar los elementos fuera del viewport */
    padding: 0; 
}

.integrant {
    color: #D4A944;
    text-align: center;
    width: 100%;
    margin: 10px 0; /* Añade un margen arriba y abajo para separar de otros elementos */
    padding: 0;
    list-style: none; /* Elimina los marcadores de lista predeterminados */
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
}

.integrant li {
    padding: 10px; /* Añade padding para hacer cada elemento más grande y fácil de leer */
    border-bottom: 1px solid #555; /* Añade una línea entre elementos */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para los efectos de hover */
}

.integrant li:hover {
    background-color: #333; /* Cambio de fondo al hacer hover */
    color: #FFF; /* Cambio de color de texto al hacer hover */
}

.integrant li:last-child {
    border-bottom: none; /* Elimina la línea del último elemento */
}

.multiplayer, .spacecrafts {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: 0; /* Elimina cualquier margen externo que pueda empujar los elementos fuera del viewport */
    padding: 0; 
}

.planet-info {
    flex: 1;
    color: white;
    margin-right: 20px; 
    position: relative;
    z-index: 1;
    margin: 0; /* Elimina cualquier margen externo que pueda empujar los elementos fuera del viewport */
    padding: 0; 
}

.planet-info h2 {
    font-weight: bold; 
    text-align: center; 
    width: 100%; 
}

.spacecraft-image {
    width: 350px;
    max-width: 60%;
    height: auto;
    position: relative;
    margin-top: 5%;
    margin-right: 50px;
}

.details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex: 0 1 200px; /* No crece, puede encogerse y su base es de 300px */
    color: white;
    margin-left: 20px; 
    position: relative;
    z-index: 1;
    margin: 0; /* Elimina cualquier margen externo que pueda empujar los elementos fuera del viewport */
    padding: 0; 
    margin-right: 75px;
}

.detail-box {
    position: relative;
    background: #242425;
    border: 1px solid #444;
    border-bottom: 0.5px solid #444; /* Reduce el grosor del borde inferior */
    box-shadow: 5px 5px 10px rgba(112, 89, 89, 0.5);
    padding: 20px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    border-left: 5px solid #444; /* Agrega un borde izquierdo delgado */
    border-left-color: #2f2f31;
    padding-left: 0px;
    margin-bottom: 20px;
    color: white;
}

.detail-box p {
    font-size: 1.2em; 
    color: #9b9491; 
    margin: 0; 
    padding: 0.5em 0; 
    background: #1a1010; 
    padding-left: 10px;
    border: 1px solid #555;
}

.titulo{
    margin-left: 2px;
}

.nombre.nave {
    z-index: 1000; /* Asegura que esté encima de otros contenidos */
    position: fixed;
    top: 75px; /* Anteriormente estaba en 150px, ajusta según la cantidad que desees subirlo */
    left: 175px;
    width: 100%;
    color: #B2B7BA;
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@media (max-width: 768px) {
    .user-section {
        display: flex;
        flex-direction: column; 
        max-width: 1200px; 
        width: 100%;
        align-items: center; 
        justify-content: flex-start; 
        position: relative; 
        z-index: 1; 
        overflow: hidden; 
        flex-direction: column;
        align-items: center;
    }

    .planet-info, .details-container {
        max-width: 100%;
        margin: 10px 0;
    }

    .spacecraft-image {
        max-width: 100%;
        height: auto;
    }
}