html,
body {
    height: 100%;
    /* Mantiene la altura al tamaño de la ventana del navegador */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    position: relative;
    border: 2.8px solid var(--primary);
    box-shadow: 0 0 20px var(--primary);
    overflow: hidden;
    /* Evita el desbordamiento en la página principal */
    box-sizing: border-box;
    /* Incluye el borde en el ancho/altura total */
}

.user-section {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.info {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Big Shoulders Display';
    border: 1px solid var(--primary);
    background-color: var(--primary);
    box-shadow: 0 0 20px var(--primary);
}

.integrant {
    color: #D4A944;
    text-align: center;
    width: 100%;
    margin: 10px 0;
    /* Añade un margen arriba y abajo para separar de otros elementos */
    padding: 0;
    list-style: none;
    /* Elimina los marcadores de lista predeterminados */
    font-size: 1.2em;
    /* Aumenta el tamaño de la fuente */
    font-family: 'Iceland';
}

.integrant li {
    padding: 10px;
    /* Añade padding para hacer cada elemento más grande y fácil de leer */
    border-bottom: 1px solid #555;
    /* Añade una línea entre elementos */
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave para los efectos de hover */
}

.integrant li:hover {
    background-color: #333;
    /* Cambio de fondo al hacer hover */
    color: #FFF;
    /* Cambio de color de texto al hacer hover */
}

.integrant li:last-child {
    border-bottom: none;
    /* Elimina la línea del último elemento */
}

.multiplayer,
.spacecrafts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* Elimina cualquier margen externo que pueda empujar los elementos fuera del viewport */
    padding: 0;
}

.planet-info {
    flex: 1;
    color: white;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    margin: 0;
    /* Elimina cualquier margen externo que pueda empujar los elementos fuera del viewport */
    padding: 0;
}

.planet-info h2 {
    font-weight: bold;
    width: 100%;
    font-family: 'Big Shoulders Display';
}

.spacecraft-image {
    width: 350px;
    max-width: 60%;
    height: auto;
    position: relative;
    margin-top: 5%;
    margin-right: 50px;
}

.details-container {
    flex: 0 1 300px;
    /* No crece, puede encogerse y su base es de 300px */
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    /* Ajuste el margen derecho para mejorar el espaciado */
    padding: 0;
}

.detail-box {
    font-family: 'Big Shoulders Display';
    background: transparent;
    border: 1px solid var(--primary) black;
    box-shadow: 4px 3px 10px var(--primary); /* Ajuste el desplazamiento vertical para la sombra */
    padding: 20px;
    border-left: 5px solid var(--primary);
  }
  


.detail-box p {
    font-size: 1em;
    /* Ajuste el tamaño de la fuente */
    color: #9b9491;
    margin: 0;
    padding: 5px 0;
    /* Ajuste el espacio interno */
    border-top: 1px;
    font-family: 'Iceland';
}


.titulo {
    margin-left: 2px;
}

.nombre.nave {
    z-index: 1000;
    /* Asegura que esté encima de otros contenidos */
    position: fixed;
    top: 75px;
    /* Anteriormente estaba en 150px, ajusta según la cantidad que desees subirlo */
    left: 175px;
    width: 100%;
    color: #B2B7BA;
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nombre.nave h2,
.planet-info h2 {
    margin-bottom: 20px;
    /* Agrega un margen inferior para separar los títulos */
}


@media (max-width: 768px) {
    .user-section {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        z-index: 1;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
    }

    .planet-info,
    .details-container {
        max-width: 100%;
        margin: 10px 0;
    }

    .spacecraft-image {
        max-width: 100%;
        height: auto;
    }
}