<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Crear Inventario</title>
</head>
<body>
<h1>Crear Inventario</h1>
<form action="#" th:action="@{/inventory/save}" th:object="${inventory}" method="post">
    <input type="hidden" th:field="*{id}" id="id"/>
    <label for="spacecraft">Nave espacial:</label>
    <select th:field="*{spacecraft}" id="spacecraft">
        <option th:each="spacecraft : ${spacecrafts}" th:value="${spacecraft.id}" th:text="${spacecraft.name}"></option>
    </select>

    <label for="product">Producto:</label>
    <select th:field="*{product}" id="product">
        <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
    </select>

    <label for="inventoryQuantity">Cantidad:</label>
    <input type="text" th:field="*{quantity}" id="inventoryQuantity">
    <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
          th:class="${#fields.hasErrors('quantity')} ? 'error' : ''"></span>

    <button type="submit">Enviar</button>


</form>
</body>
</html>