<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<h1>Mercados</h1>

<a th:href="@{/market/search}">Buscar</a>
<a th:href="@{/market/create}">Crear nuevo mercado</a>

<table class="entity-list">
  <thead>
  <tr>
    <th>id</th>
    <th>Planeta</th>
    <th>Producto</th>
    <th>Stock</th>
    <th>Factor demandante</th>
    <th>Factor ofertante</th>
    <th>Precio de compra</th>
    <th>Precio de venta</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="market : ${markets}">
    <td th:text="${market.id}"></td>
    <td th:text="${market.planet.name}"></td>
    <td th:text="${market.product.name}"></td>
    <td th:text="${market.stock}"></td>
    <td th:text="${market.demandFactor}"></td>
    <td th:text="${market.supplyFactor}"></td>
    <td th:text="${market.buyPrice}"></td>
    <td th:text="${market.sellPrice}"></td>
    <td>
      <a th:href="@{/market/view/{id}(id=${market.id})}">Ver</a>
    </td>
    <td>
      <a th:href="@{/market/edit/{id}(id=${market.id})}">Editar</a>
    </td>
    <td>
      <a th:href="@{/market/delete/{id}(id=${market.id})}" onclick="return confirm('¿Está seguro de que desea eliminar este mercado?')">Eliminar</a>
    </td>
  </tr>
  </tbody>
</table>

</body>

</html>
