<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>Editar mercado</title>
</head>

<body>
<h1>Editar mercado</h1>
<form action="#" th:action="@{/market/save}" th:object="${market}" method="post">
  <input type="hidden" th:field="*{id}" id="id">

  <p><strong>Planeta:</strong> <span th:text="${market.planet.name}">Nombre del planeta</span></p>

  <p><strong>Producto:</strong> <span th:text="${market.product.name}">Nombre del producto</span></p>

  <label for="marketStock">Stock: </label>
  <input type="text" th:field="*{stock}" id="marketStock">

  <label for="marketDemandFactor">Factor demandante: </label>
  <input type="text" th:field="*{demandFactor}" id="marketDemandFactor">

  <label for="marketSupplyFactor">Factor de oferta: </label>
  <input type="text" th:field="*{supplyFactor}" id="marketSupplyFactor">

  <label for="marketBuyPrice">Precio de compra: </label>
  <input type="text" th:field="*{buyPrice}" id="marketBuyPrice">

  <label for="marketSellPrice">Precio de venta: </label>
  <input type="text" th:field="*{sellPrice}" id="marketSellPrice">

  <button type="submit">Enviar</button>
</form>
</body>

</html>
