<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<h1>Planeta <span th:text="${planet.id}"></span></h1>

<p th:text="'Nombre: ' + ${planet.name}"></p>
<p>Spacecrafts:</p>
<ul>
  <li th:each="spacecraft : ${planet.spacecrafts}" th:text="${spacecraft.name}"></li>
</ul>
<p th:text="'Estrella: ' + ${planet.star.name}"></p>
<p>Productos:</p>
<ul>
  <li th:each="product : ${planet.products}" th:text="${product.name}"></li>
</ul>

<a th:href="@{/planet/list}">Volver</a>

</body>

</html>
