<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Crear planeta</title>
</head>
<body>
<h1>Crear planeta</h1>
<form action="#" th:action="@{/planet/save}" th:object="${planet}" method="post">
  <input type="hidden" th:field="*{id}" id="id">

  <div>
    <label for="planetName">Nombre planeta: </label>
    <input type="text" th:field="*{name}" id="planetName">
    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error de nombre</div>
  </div>

  <div>
    <label for="planetStar">Estrella:</label>
    <select th:field="*{star}" id="planetStar">
      <option th:each="star : ${stars}" th:value="${star.name}" th:text="${star.name}"></option>
    </select>
  </div>

  <button type="submit">Enviar</button>
</form>
</body>

</html>