<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<!--<div th:insert="fragments/menu.html :: mainMenu"></div>
-->
<h1>Players</h1>

<table class="entity-list">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre de usuario</th>
        <th>Contraseña</th>
        <th>Tipo de jugador</th>
        <th>Nave espacial</th>
        <th>Ver</th>
        <th>Editar</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="player : ${players}">
        <td th:text="${player.id}"></td>
        <td th:text="${player.userName}"></td>
        <td th:text="${player.password}"></td>
        <td th:text="${player.type}"></td>
        <td th:text="${player.spacecraft}"></td>
        <td>
            <a th:href="@{/player/view/{id}(id=${player.id})}">Ver</a>
        </td>
        <td>
            <a th:href="@{/player/edit/{id}(id=${player.id})}">Editar</a>
        </td>
    </tr>
    </tbody>
</table>

</body>

</html>
