<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="/estilo.css">
</head>

<body>

<form method="get" action="#" th:action="@{/product/search}">
  <label for="searchText">Buscar por nombre</label>
  <input type="text" id="searchText" name="searchText">
  <button type="submit">Search</button>
</form>

<h1>Producto</h1>
<table class="entity-list">
  <thead>
  <tr>
    <th>Tamaño</th>
    <th>Nombre</th>
    <th>Planetas</th>
    <th>Mercados</th>
    <th>Inventarios</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="product : ${products}">
    <td th:text="${product.size}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.planets}"></td>
    <td th:text="${product.markets}"></td>
    <td th:text="${product.inventories}"></td>
    <td>
      <a th:href="@{/product/view/{id}(id=${product.id})}">Ver</a>
    </td>
    <td>
      <a th:href="@{/product/edit/{id}(id=${product.id})}">Editar</a>
    </td>
  </tr>

  </tbody>
</table>

</body>

</html>