<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="/estilo.css">
</head>

<body>

<form method="get" action="#" th:action="@{/star/search}">
  <label for="searchText">Buscar por nombre</label>
  <input type="text" id="searchText" name="searchText">
  <button type="submit">Search</button>
</form>

<h1>Estrella</h1>
<table class="entity-list">
  <thead>
  <tr>
    <th>Nombre de estrella</th>
    <th>Coordenada x</th>
    <th>Coordenada y</th>
    <th>Coordenada z</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="star : ${stars}">
    <td th:text="${star.name}"></td>
    <td th:text="${star.x}"></td>
    <td th:text="${star.y}"></td>
    <td th:text="${star.z}"></td>
    <td>
      <a th:href="@{/star/view/{id}(id=${star.id})}">Ver</a>
    </td>
    <td>
      <a th:href="@{/star/edit/{id}(id=${star.id})}">Editar</a>
    </td>
  </tr>

  </tbody>
</table>

</body>

</html>