<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<!--<div th:insert="fragments/menu.html :: mainMenu"></div>
-->
<h1>Estrellas</h1>
<p th:text="${error}" th:class="error"></p>
<a th:href="@{/star/search}">Buscar</a>

<table class="entity-list">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nombre de estrella</th>
    <th>Coordenada x</th>
    <th>Coordenada y</th>
    <th>Coordenada z</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="star : ${stars}">
    <td th:text="${star.id}"></td>
    <td th:text="${star.name}"></td>
    <td th:text="${star.x}"></td>
    <td th:text="${star.y}"></td>
    <td th:text="${star.z}"></td>
    <td>
      <a th:href="@{/star/view/{id}(id=${star.id})}">Ver</a>
    </td>
    <td>
      <a th:href="@{/star/edit/{id}(id=${star.id})}">Editar</a>
    </td>
    <td>
      <a th:href="@{/star/delete/{id}(id=${star.id})}" onclick="return confirm('¿Está seguro de que desea eliminar esta estrella?')">Eliminar</a>
    </td>
  </tr>
  </tbody>
</table>

</body>

</html>
