img {
    border-radius: 50%;
    max-width: 75px; 
    height: auto;      
    position: absolute; 
    bottom: 20px;          
    left: 20px;           
    z-index: 999;
}

img:hover {
    cursor: pointer;
}
