<div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre del modelo</th>
        <th>Capacidad máxima</th>
        <th>Velocidad máxima</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let spacecraftModel of spacecraftModels">
        <td>{{spacecraftModel.id}}</td>
        <td>{{spacecraftModel.modelName}}</td>
        <td>{{spacecraftModel.storage}}</td>
        <td>{{spacecraftModel.maxSpeed}}</td>
        <td><a [routerLink]="['/spacecraft-model/view', spacecraftModel.id]">Ver</a></td>
        <td><a [routerLink]="['/spacecraft-model/edit', spacecraftModel.id]">Editar</a></td>
      </tr>
    </tbody>
  </table>
</div>