.dialog-container{
    background-color: black;
    border: 5px solid var(--primary);
    box-shadow: 0 0 20px var(--primary);
    width: 99%;
    height: 99%;
}

.inventory{
margin-left : 20px;
font-family:'Big Shoulders display';
}
h2{
    font-size: 50px;
    text-transform: uppercase;
}
.inventory-item{
    width: 10%;
    height: 20%;
    display: inline-block;
    padding: 0;
    margin-right: 25px;

}
.chart{
    width: 100%;
    height: 80%;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid var(--primary);
    box-shadow: 0 0 20px var(--primary);
}
.img{
    width: 100%;
    height: 100%;
}

.name{
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    height: 20%;
    overflow: hidden;
    font-family: 'Iceland';
    font-size: 20px;
    background-color: var(--primary);
    margin: 0;
    color: black;
    text-align: center;
}
.quantity{
    padding: 10px;
    font-family: 'Iceland';
    font-size: 30px;
    margin: 0;
    color: var(--primary);
    text-align: center;
}