/* You can add global styles to this file, and also import other style files */
html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: blanchedalmond;
}

.engine-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#renderCanvas:focus {
  outline: none;
}

.ui-wrapper {
  position: absolute;
}

.ui-wrapper * {
  z-index: 1;
}
/* mostramos los planetas de cada estrella como listas desplegables */
.stars{
  /*lo movemos a la parte derecha de la pantalla*/
  position: absolute;
  right: 1;
  /*le damos un tamaño de 300px*/
  width: 300px;
  /*le damos un alto de 100%*/
  height: 100%;
  /*le damos un overflow para que se pueda hacer scroll*/
  overflow: auto;
  /*está muy a la izquierda*/
  padding-left: 10px;

}


.ng-valid:not(form).ng-touched {
  border-color: #42A948;
}

.ng-invalid:not(form).ng-touched {
  border-color: #a94442;
}