<app-summary-bar></app-summary-bar>

<app-background style="pointer-events: none;"></app-background>
<div class="inventory" *ngIf="inventoryData.length > 0">
    <div class="items">
        <table class="tablaBuy">
            <tbody>
                <tr *ngFor="let item of inventoryData" class="inventory-item">
                    <td class="product-image-cell">
                        <img src="\assets\img\inventoryaux.png" alt="{{ item.product.name }}">
                    </td>
                    <td>Producto: {{ item.product.name }}</td>
                    <td>Cantidad: {{ item.quantity }}</td>
                    <!-- Use ng-container to apply the conditional without extra HTML elements -->

                    <ng-container *ngFor="let precio of marketData">
                        <tr *ngIf="item.product.id == precio.product.id" class="market-buy">
                            <td>Precio: {{ precio.buyPrice }}</td>
                            <td><button>Vender producto</button></td>
                        </tr>
                    </ng-container>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div class="yodaComprador">
        <img src="assets/img/sellBuy/yodaComprador.jpg" alt="babyYoda">
    </div>

    <div class="textoGlobo">
        <img src="assets/img/sellBuy/globoTexto.png" alt="globoTexto">
        <div class="textoYoda">
            <p>En "{{planetData?.name}}" Compramos lo que sea!!!</p>
        </div>
    </div>

    <div class="botonesAccion">
        <button class="comprar" (click)="comprar()">COMPRAR</button>
        <button class="vender" (click)="vender()">VENDER</button>
    </div>
</div>