body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.yodaComprador {
    position: absolute;
    top: 0;
    height: 100%;
    width: 80%;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 1;
    animation: slideUp 1s forwards;
}

.yodaComprador img {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    width: 35%;
    left: 80%;
    height: auto;
}

.textoGlobo {
    position: absolute;
    z-index: 10;
    width: 50%;
    left: 10%;  /* Movido más hacia la izquierda */
    top: 175px;
    transform: translateX(-80%);  /* Ajuste para compensar el cambio de posición */
    animation: slideInGlobo 1s ease-out forwards;
}


.textoGlobo img {
    width: 40%;
    left: 20%;
    height: auto;
}

.textoYoda {
    position: absolute;
    top: 40%; /* Centrado verticalmente dentro del globo */
    left: 20%; /* Centrado horizontalmente dentro del globo */
    transform: translate(-50%, -50%);
    width: 30%; /* Ancho del texto ajustado al globo */
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    opacity: 1;
    animation: fadeInTexto 2s ease-in 1s forwards;
}

.items {
    border-radius: 15px;
    overflow: hidden;
    width: 40%;
    max-width: 500px;
    right: 50px;
    position: absolute;
    overflow-y: auto;
    height: 500px;
    top: 50px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #9e7979;
}

::-webkit-scrollbar-thumb {
    background: #b3ff02;
}

.tablaBuy {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.tablaBuy td {
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #5e1b1b;
}

.tablaBuy tbody tr {
    background-image: linear-gradient(to right, #0c0c0c, #0c0c0c 40%, #ffd700 200%);
    color: white;
    border-bottom: 9px solid #7af705;
}

button {
    padding: 8px 16px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #007960;
}

.botonesAccion {
    position: absolute;
    margin-top: 20px;
    bottom: 30px; /* Cambiado a 'bottom' para que estén abajo */
    right: 50px; /* Ajustado para que estén a la misma distancia del borde derecho que la tabla */
    transform: translateX(0); /* Resetear transformación para que la ubicación sea relativa a la posición original */
    display: flex; /* Permitir el uso de 'justify-content' */
    justify-content: flex-end; /* Alinear los botones al extremo derecho */
}

.botonesAccion button {
    cursor: pointer;
    padding: 10px 40px; /* Ajusta el valor del relleno según lo que prefieras */
    height: 50px;
    min-width: 120px; /* Establecer un ancho mínimo para asegurar que los botones no sean demasiado pequeños */
    font-size: 1rem;
    margin-left: 1px;
    text-align: center;
    border: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: transform 0.1s, box-shadow 0.1s, border-color 0.1s;
    font-weight: bold;
    text-align: center; /* Centrar el texto dentro del botón */
}

.botonesAccion button.comprar {
    color: limegreen;
    border-color: limegreen;
}

.botonesAccion button.vender {
    color: red;
    border-color: red;
}

.botonesAccion button.comprar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px limegreen, 0 0 20px limegreen, 0 0 30px limegreen;
}

.botonesAccion button.vender:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
}

.botonesAccion button:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

@keyframes slideUp {
    from { bottom: -100%; }
    to { bottom: 0; }
}

@keyframes slideInGlobo {
    from {
        left: 0%;
        opacity: 0;
    }
    to {
        left: 50%;
        opacity: 1;
    }
}

@keyframes fadeInTexto {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
