<app-summary-bar></app-summary-bar>

<app-background [pageType]="pageType" [planetData]="planetData" style="pointer-events: none"></app-background>

<div *ngIf="planetData" class="dialog-chart">
    <p>En "{{planetData.name}}" Compramos lo que sea!!!</p>
</div>
<div class="inventory" *ngIf="inventoryData.length > 0">
    <div class="items">
        <div class="table-container">
            <table class="styled-table">
                <tbody>
                    <tr *ngFor="let item of inventoryData">
                        <td class="product-img">
                            <img src="\assets\items\{{item.product.name.toLowerCase().split(' ').join('_')}}.png" alt="{{ item.product.name }}">
                        </td>
                        <td class="product-info">
                            <div class="product-name">{{ item.product.name }}</div>
                            <div class="product-details">
                                <div class="cantidad" id="cantidadProductoBuy">Cantidad: {{ item.quantity }}</div>
                                <ng-container *ngFor="let precio of marketData">
                                    <div *ngIf="item.product.id == precio.product.id && planetData != null"
                                        class="partePrecio">
                                        <div>Precio: {{ precio.sellPrice }}</div>
                                        <button class="sell-button" id="botonVender"
                                            (click)="venderProductos(precio, item.product, precio.sellPrice, planetData.id)">Vender
                                            producto</button>
                                    </div>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="botonesAccion">
    <button class="vender" id="irComprar"(click)="sell()">IR A COMPRAR</button>
</div>
<app-travels></app-travels>