<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>Crear producto</title>
</head>

<body>
<h1>Crear producto</h1>
<form action="#" th:action="@{/product/save}" th:object="${product}" method="post">
  <input type="hidden" th:field="*{id}" id="id">

  <div>
    <label for="productSize">Tamaño: </label>
    <input type="text" th:field="*{size}" id="productSize">
    <div class="error" th:if="${#fields.hasErrors('size')}" th:errors="*{size}">Error de tamaño</div>
  </div>

  <div>
    <label for="productName">Nombre: </label>
    <input type="text" th:field="*{name}" id="productName">
    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error de nombre</div>
  </div>

  <button type="submit">Enviar</button>
</form>
</body>

</html>